<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Шановний користувач,</h1>
    <p>Ваш веб-сайт <strong><%= @web_app.name %></strong> було заблоковано адміністрацією.</p>
    <p>Можливі причини: порушення правил хостингу, несплата тощо.</p>
    <p>Зверніться до технічної підтримки (tech@example.com) для з'ясування деталей.</p>
  </body>
</html>
