<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Шановний користувач,</h1>
    <p>Блокування вашого веб-сайту <strong><%= @web_app.name %></strong> було знято!</p>
    <p>Тепер ви можете знову запустити свій контейнер через панель керування.</p>
  </body>
</html>
